extends ../layouts/default

block content
  .container
    h3(style='margin-bottom: 20px; ') Add #{topic.class}
    form(name='add', action=location, method='post')
      input(type='hidden', name='classText', value=topic.class)
      .row.form-group
        .col-sm-2
          label Name
        .col-sm-3
          input.form-control(type='text', name='name', value=topic.name)
      .row.form-group
        .col-sm-2
          label Type
        .col-sm-3
          select.form-control(name='type' id='type')
            option(value='') Select the type of #{topic.class.toLowerCase()}.
            option(value='treat' selected=topic.type==='treat' style=topic.class.toLowerCase()==='food' ? '' : 'display: none;') Treat
            option(value='protein' selected=topic.type==='protein' style=topic.class.toLowerCase()==='food' ? '' : 'display: none;') Protein
            option(value='starch' selected=topic.type==='starch' style=topic.class.toLowerCase()==='food' ? '' : 'display: none;') Starch
            option(value='veg' selected=topic.type==='veg' style=topic.class.toLowerCase()==='food' ? '' : 'display: none;') Fruit or Vegetable
            option(value='fast-acting' selected=topic.type==='fast' style=topic.class.toLowerCase()==='insulin' ? '' : 'display: none;') Fast-acting
            option(value='slow-acting' selected=topic.type==='slow' style=topic.class.toLowerCase()==='insulin' ? '' : 'display: none;') Slow-acting
            option(value='scheduled' selected=topic.type==='scheduled' style=topic.class.toLowerCase()==='reason' ? '' : 'display: none;') Scheduled
            option(value='unscheduled' selected=topic.type==='unscheduled' style=topic.class.toLowerCase()==='reason' ? '' : 'display: none;') Unscheduled
      .row.form-group(style=topic.class.toLowerCase()==='food' ? '' : 'display: none;')
        .col-sm-2
          label Unit
        .col-sm-3
          select.form-control(name='unit' id='unit')
            option(value='unit') Unit
            option(value='cup' selected=topic.unit==='cup') Cup (8oz)
            option(value='oz' selected=topic.unit==='oz') Ounce
            option(value='slice' selected=topic.unit==='slice') Slice
            option(value='serving' selected=topic.unit==='serving') Serving
            option(value='tbsp' selected=topic.unit==='tbsp') Tablespoon
            option(value='tsp' selected=topic.unit==='tsp') Teaspoon
      .row.form-group(style=topic.class.toLowerCase()==='food' ? '' : 'display: none;')
        .col-sm-2
          label Calories
        .col-sm-3
          input.form-control(type='text', name='calories' value=topic.calories)    
      .row
        .col-sm-12
          br
      .row
        .col-sm-2.col-sm-offset-2
          a.btn(href='#{home}') Cancel
          &nbsp;
          input.btn.btn-primary(type='submit', value='Add')
