extends ../layouts/default

block content
  .container
    h4 #{actionText} a topic.
    form(name='add', action=location, method='post')
      input(type="hidden", name="_csrf", value=_csrf)
      input(type="hidden", name="id", value=topic.id)
      .row.form-group
        .col-sm-2
          label Name
        .col-sm-3
          input.form-control(type='text', name='name', value=topic.name)
      .row.form-group
        .col-sm-2
          label Description
        .col-sm-3
          input.form-control(type='text', name='description' value=topic.description)
      .row.form-group
        .col-sm-2
          label Application Type
            sup.footnote *†
        .col-sm-4
          .col-sm-4
            select.form-control(name='applicationTypePrefix' id='applicationTypePrefix')
              option(value='') is exactly
              option(value='starts with ' selected=topic.applicationType.prefix==='starts with ') starts with
              option(value='ends with ' selected=topic.applicationType.prefix==='ends with ') ends with
              option(value='contains ' selected=topic.applicationType.prefix==='contains ') contains
          .col-sm-8
            input.form-control(type='text', name='applicationType' value=topic.applicationType.field)
      .row.form-group
        .col-sm-2
          label Resource Type
            sup.footnote *†
        .col-sm-4
          .col-sm-4
            select.form-control(name='resourceTypePrefix' id='resourceTypePrefix')
              option(value='') is exactly
              option(value='starts with ' selected=topic.resourceType.prefix==='starts with ') starts with
              option(value='ends with ' selected=topic.resourceType.prefix==='ends with ') ends with
              option(value='contains ' selected=topic.resourceType.prefix==='contains ') contains
          .col-sm-8
            input.form-control(type='text', name='resourceType' value=topic.resourceType.field)
      .row.form-group
        .col-sm-2
          label Resource Name
            sup.footnote *†
        .col-sm-4
          .col-sm-4
            select.form-control(name='resourceNamePrefix' id='resourceNamePrefix')
              option(value='') is exactly
              option(value='starts with ' selected=topic.resourceName.prefix==='starts with ') starts with
              option(value='ends with ' selected=topic.resourceName.prefix==='ends with ') ends with
              option(value='contains ' selected=topic.resourceName.prefix==='contains ') contains
          .col-sm-8
            input.form-control(type='text', name='resourceName' value=topic.resourceName.field)
      .row.form-group
        .col-sm-2
          label Event
        .col-sm-4
          .col-sm-4
            select.form-control(name='eventPrefix' id='eventPrefix')
              option(value='') is exactly
              option(value='starts with ' selected=topic.event.prefix==='starts with ') starts with
              option(value='ends with ' selected=topic.event.prefix==='ends with ') ends with
              option(value='contains ' selected=topic.event.prefix==='contains ') contains
          .col-sm-8
            input.form-control(type='text', name='event' value=topic.event.field)
      .row.form-group
        .col-sm-2
          label Which team owns this
        .col-sm-3
          select.form-control(name='team' id='team')
            option(value='') Select a team
            option(value='big-data' selected=topic.team==='big-data') Big Data
            option(value='cloud-infastructure' selected=topic.team==='cloud-infastructure') Cloud Infastrcture
            option(value='content-tools' selected=topic.team==='content-tools') Content Tools
            option(value='delivery' selected=topic.team==='delivery') Delivery
            option(value='mobile' selected=topic.team==='mobile') Mobile
            option(value='mst' selected=topic.team==='mst') Map Services
            option(value='research' selected=topic.team==='research') Research
            option(value='search' selected=topic.team==='search') Search
            option(value='webapps' selected=topic.team==='webapps') Web Apps
      .row
        .col-sm-2.form-group
          label Owner
        .col-sm-3
          input.form-control(type='email', name="owner", value=topic.owner placeholder="i.e. phillip.j.fry@pointinside.com")
      .row
        .col-sm-12
          br
      .row
        .col-sm-2.col-sm-offset-2
          a.btn(href="/topics") Cancel
          &nbsp;
          input.btn.btn-primary(type="submit", value=actionText)
          
    .row
      .col-sm-12
        h6 * - required
        h6 † - can also use a '*' to denote a wildcard matching

  style.
    .footnote {
      font-size: 8px;
    }
    .forEmail {
      display: none;
    }
    .forLambda {
      display: none;
    }
