extends ../layouts/default

block content
  .container
    .row
      .col-sm-12
        h1 Topics
        hr
        div 
    .row
      .col-sm-6
        .col-sm-4
          a.btn.btn-info(href='/topics/add/Food') Add a Food
        .col-sm-4
          a.btn.btn-info(href='/topics/add/Insulin') Add an Insulin
        .col-sm-4
          a.btn.btn-info(href='/topics/add/Reason') Add a Reason
    hr
    .row
      .col-sm-5
        h4 Insulins
    table#insulin(style='width:100%; ')
      thead
        tr
          th Name
          th Type
          th &nbsp;
      tbody
        each topic in topics.insulin
          tr
            td
              span= topic.name
            td
              span= topic.type
            td
              a(style='padding-right:10px;' href='/topics/add/' + topic.class + '?id=' + topic.id)
                i.fa.fa-pencil-square-o.fa-lg
                span  Copy
              a(style='padding-right:10px;' href='/topics/onoff/' + topic.id)
                i.fa.fa-toggle-on.fa-lg(style=topic.display ? '' : 'display: none;')
                i.fa.fa-toggle-off.fa-lg(style=topic.display ? 'display: none;' : '')
                span= topic.display ? ' On' : ' Off'
    hr
    .row
      .col-sm-5
        h4 Reasons
    table#reason(style='width:100%; ')
      thead
        tr
          th Name
          th Type
          th &nbsp;
      tbody
        each topic in topics.reason
          tr
            td
              span= topic.name
            td
              span= topic.type
            td
              a(style='padding-right:10px;' href='/topics/add/' + topic.class + '?id=' + topic.id)
                i.fa.fa-pencil-square-o.fa-lg
                span  Copy
              a(style='padding-right:10px;' href='/topics/onoff/' + topic.id)
                i.fa.fa-toggle-on.fa-lg(style=topic.display ? '' : 'display: none;')
                i.fa.fa-toggle-off.fa-lg(style=topic.display ? 'display: none;' : '')
                span= topic.display ? ' On' : ' Off'
    hr
    .row
      .col-sm-5
        h4 Foods
    table#food
      thead
        tr
          th Name
          th Type
          th Unit
          th Calories
          th &nbsp;
      tbody
        each topic in topics.food
          tr
            td
              span= topic.name
            td
              span= topic.type
            td
              span= topic.unit
            td
              span= topic.calories
            td
              a(style='padding-right:10px;' href='/topics/add/' + topic.class + '?id=' + topic.id)
                i.fa.fa-pencil-square-o.fa-lg
                span  Copy
              a(style='padding-right:10px;' href='/topics/onoff/' + topic.id)
                i.fa.fa-toggle-on.fa-lg(style=topic.display ? '' : 'display: none;')
                i.fa.fa-toggle-off.fa-lg(style=topic.display ? 'display: none;' : '')
                span= topic.display ? ' On' : ' Off'
    link(rel='stylesheet', href='//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css', type='text/css')
    link(rel='stylesheet', href='//cdn.datatables.net/buttons/1.1.0/css/buttons.dataTables.min.css', type='text/css')
    script(src='//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js')
    script(src='//cdn.datatables.net/buttons/1.1.0/js/dataTables.buttons.min.js')
    script(src='//cdn.datatables.net/buttons/1.1.0/js/buttons.html5.min.js')
    script.
      $(document).ready(function() {
        $('#food').DataTable({
          bLengthChange: false,
          order: [[ 1, 'asc' ], [0, 'asc'], [2, 'asc'], [3, 'asc']],
          scrollY: '400px',
          scrollCollapse: true,
          paging: false,
          columnDefs: [
            { width: '20%', targets: [0, 1, 2, 3, 4] }
          ],
          //dom: 'Bfrtip',
          //buttons: [
          //  'csvHtml5',
          //],
          columns: [{
            className: 'dt-center',
            searchable: true,
          }, {
            className: 'dt-center',
            searchable: true,
          }, {
            className: 'dt-center',
            searchable: false,
          }, {
            className: 'dt-center',
            searchable: false,
          }, {
            className: 'dt-center',
            orderable: false,
          } ],
          initComplete: function(settings) {
            $('#food thead th[title]').tooltip( {
              container: 'body',
            });
          },
        });
      });

    style.
      .itemTitle {
        width: 300px;
      }
      #insulin td, #reason td {
        text-align: center;
        padding: 8px;
      }
      #insulin th, #reason th {
        border-bottom: 1px solid;
        text-align: center;
        padding: 8px;
      }

  //script.
  //  $('.more-details').click(function() {
  //    $(this).parents('.event-holder').children('.details').slideToggle(200);
  //  });
