extends ../layouts/default

block content
  .container
    h3(style='margin-bottom: 20px; ') #{buttonText} a #{action.class}.
    form(name='add', action=location, method='post')
      input(type='hidden', name='classText', value=action.class)
      input(type='hidden', name='id', value=action.id)
      input(type='hidden', name='originalDate', value=action.date)
      .row.form-group
        .col-sm-2
          label Date
        .col-sm-3
          input.form-control(type='text', name='date', value=action.date, disabled=buttonText==='Update')
      .row.form-group
        .col-sm-2
          label Time
        .col-sm-3
          .col-sm-6(style='padding-left: 0px; ')
            input.form-control(type='text', name='hour', value=action.hour, placeholder='Hour (0-23)')
          .col-sm-6(style='padding-right: 0px; ')
            input.form-control(type='text', name='minute', value=action.minute, placeholder='Min (0-59)')
      .row.form-group(style=action.class.toLowerCase()==='meal' ? '' : 'display: none; ')
        .col-sm-2
          label Foods in meal (TODO multiple)
        .col-sm-3
          select.form-control(name='eaten' id='eaten')
            option(value='') Select the food (TODO enter units).
            each topic in topics.food
              option(selected=action.foods[0].id===topic.id value='#{topic.type}|#{topic.id}|#{topic.calories}') #{topic.name} (#{topic.type})
      .row.form-group
        .col-sm-2
          label Amount
        .col-sm-3
          input.form-control(type='text', name='quantity', value=action.quantity, disabled=action.class.toLowerCase()==='meal')
      .row.form-group
        .col-sm-2
          label #{typeText}
        .col-sm-3
          select.form-control(name='#{typeText}' id='#{typeText}')
            option(value='') Select the #{typeText}.
            each topic in topics[typeText.toLowerCase()]
              option(selected=action.topicId===topic.id value='#{topic.id}|#{topic.type}') #{topic.name} (#{topic.type})
      .row
        .col-sm-12
          br
      .row
        .col-sm-2.col-sm-offset-2
          a.btn(href="/record") Cancel
          &nbsp;
          input.btn.btn-primary(type='submit', value=buttonText)
