extends ../layouts/default

block content
  .container
    .row
      .col-sm-12
        h1 Daily Activity Records
        hr
        div 
    .row
      .col-sm-6
        .col-sm-4
          span.pull-left
            a.btn.btn-info(href='#{home}/add/Meal') Add a Meal
        .col-sm-4
          span.pull-left
            a.btn.btn-info(href='#{home}/add/Dosage') Add a Dosage
        .col-sm-4
          span.pull-left
            a.btn.btn-info(href='#{home}/add/Reading') Add a Reading
    hr
    .row
      .col-sm-2(style='padding-right: 0px; ')
        h4 Date (DD-MM-YYYY)
      .col-sm-4(style='padding-left: 0px; ')
        form(onSubmit='getRecordsForDate();')
          .col-sm-6
            input.form-control(type='text', name='date', id='date', value=recordsDate)
          .col-sm-3
            input.btn.btn-primary(type='submit', value='Change Date')
    table#activity(style='width:100%; ')
      thead
        tr
          th Time
          th Class
          th Type
          th Amount
            sup.footnote †
          th &nbsp;
      tbody
        each record in records
          tr
            td
              span= record.hour + ':' + record.minute
            td
              span= record.class
            td
              span= record.type
            td
              span= record.quantity              
            td
              a(style='padding-right:10px;' href='#{home}/edit/' + record.class + '/' + recordsDate + '/' + record.id)
                i.fa.fa-pencil-square-o.fa-lg
                span  Edit
              a(style='padding-right:10px;' href='#{home}/delete/' + recordsDate + '/' + record.id)
                i.fa.fa-trash-o.fa-lg
                span  Delete                
    .row
      .col-sm-12
        h6 † - Calories for Meal; Units for Insulin Dosage; Level for Sugar Reading              
    style.
      .footnote {
        font-size: 8px;
      }      
      #activity td {
        text-align: center;
        padding: 8px;
      }
      #activity th {
        border-bottom: 1px solid;
        text-align: center;
        padding: 8px;
      }
    script.
      function getRecordsForDate(){
        location.href = '#{home}?date=' + document.getElementById('date').value;
      }