extends ../layouts/default

block content
  .container
    .row
      .col-sm-12
        h1 Switchboard
        hr
        div 
          Switchboard lets you take actions when specific events are received by Metrics Monkey. Examples of actions that you can take include sending an email or slack, running a lambda function, or calling a webhook. In order to trigger an action, you must first select or create a #[a(href='/topics') Topic] that matches one or more Metrics Monkey events. Then, specify the action that you'd like to perform when an event of that type is received.
        h3
          a(href='/switchboard/add/') Add New Action
    hr
    .row
      .col-sm-5
        h4 Title
      .col-sm-2
        h4 Destination Type
    each action in actions
      .event-holder
        .row(title=action.description, style='padding:5px;')
          .col-sm-5.more-details
            i.fa.fa-plus-circle.fa-lg(style='padding-right:5px')
            span= action.title || action.name
          .col-sm-2.more-details= action.destinationType
          .col-sm-4
            a(style='padding-right:10px;' href='/switchboard/turnOff/' + action.topicId + '/' + action.id)
              i.fa.fa-toggle-off.fa-lg(style=action.isOff ? '' : 'display: none;')
              i.fa.fa-toggle-on.fa-lg(style=action.isOff ? 'display: none;' : '')
              span= action.isOff ? ' Off' : ' On'
            a(style='padding-right:10px;' href='/switchboard/edit/' + action.topicId + '/' + action.id)
              i.fa.fa-pencil-square-o.fa-lg
              span  Edit
            a(href='/switchboard/delete/' + action.topicId + '/' + action.id)
              i.fa.fa-trash-o.fa-lg
              span  Delete
        .row.details(style='display:none')
          .col-sm-5
            h4 Topic: !{action.topicName}
            h5 Owner: !{action.owner}
            h5 Sender: !{action.sender}
            h5 App: !{action.app}
          .col-sm-4
            case action.destinationType
              when 'webhook'
                h4 URL: !{action.url}
                h4 Additions to be posted:
                pre= action.body
              when 'pusher'
                h4 Body
                pre= action.body
              when 'email'
                h4 Subject: !{action.subject}
                h4 Body
                pre= action.body
              when 'lambda'
                h4 Name: !{action.lambda}
              when 'slack'
                h4 Channel: !{action.channel}
                h4 Body
                pre= action.body

  script.
    $('.more-details').click(function() {
      $(this).parents('.event-holder').children('.details').slideToggle(200);
    });